// Variables
$slick-font-path: '../fonts/slick/';
$slick-loader-path: '../images/';

// Imports
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Owl Carousel
@import "../bower_components/owl.carousel/src/scss/owl.carousel.scss";

// Extends
// Font Weight, Style, Text Transform, Alignment
$weights: (thin, 100), (extralight, 200), (light, 300), (normal, 400), (medium, 500), (semibold, 600), (bold, 700), (extrabold,800), (heavy, 900);
$styles: italic, oblique, normal, inherit, initial, unset;
$transforms: capitalize, uppercase, lowercase, none, full-width;
$alignments: none, left, right, center;
$displays: inline, inline-block, table, table-cell, flex, none, unset;

// Font Weight
@each $weight, $value in $weights {
	.text-#{$weight} {
		font-weight: $value;
	}
}

// Font Style
@each $style in $styles {
	.text-#{$style} {
		font-style: $style;
	}
}

// Text Transform
@each $transform in $transforms {
	.text-#{$transform} {
		text-transform: $transform;
	}
}

// Text Alignment
@each $alignment in $alignments {
	.text-#{$alignment} {
		text-align: $alignment;
	}
}

// Display
@each $display in $displays {
	.display-#{$display} {
		display: $display;
	}
}

//* Icons & Type Alignment Fix
// @link http://snook.ca/archives/html_and_css/icons-and-type
@mixin icon-type {
	display: inline-block;
	position: relative;
	top: -0.1em;
	vertical-align: middle;
}

@mixin button {
	text-transform: uppercase;
	// color: $button-color;
	display: inline-block;
	margin-bottom: 0; // For input.btn
	// font-family: $button-font;
	// font-weight: $button-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	// white-space: nowrap;
	white-space: normal;
	line-height: 1;
}

//* Vertical Mixin
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin bourbon-align {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefixer(box-align, center, webkit moz ms spec);
	-ms-flex-align: center;
	@include prefixer(align-items, center, webkit spec);
	@include prefixer(box-pack, center, webkit moz);
	-ms-flex-pack: center;
	@include prefixer(justify-content, center, webkit spec);
}

@mixin button( $type: "default", $background: $btn-primary-bg, $color: $btn-primary-color, $radius: $btn-border-radius-base, $padding: $grid-gutter-width/2, $width: auto, $border: 1px) {
	color: $color;
	display: inline-block;
	margin-bottom: 0;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: #{$border} solid transparent;
	white-space: nowrap;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	padding: $padding;
	width: $width;

	// Default
	@if $type == 'default' {
		border-color: darken($background, 5%);
		&:hover {
			background-color: darken($background, 17%);
			border-color: darken($background, 25%);
		}
	}

	// Flat
    @if $type == 'flat' {
    	background-color: $background;
    	border-color: $background;
    	border-radius: 0 !important;
    	&:hover {
    		background-color: darken($background, 17%);
    	}
    }

	// Border
    @if $type == 'border' {
    	background-color: transparent;
    	border-color: $background;
    	color: $background;
    	&:hover {
    		background-color: $background;
    		color: $color;
    	}
    }
}

/* Image Carousel
----------------------------------------------------------------------------- */
.widget_rwpw-image-carousel {
	.owl-carousel {
		.owl-item {
			& > div {
				@include vertical-align;
			}
			img {
				width: auto !important;
				margin: 0 auto;
			}
		}
	}
}

/* Side Image Widget
----------------------------------------------------------------------------- */
.widget_rwpw-side-image {
	$large-screen: 1200px;
	$gutter: 30px;
	.side-image {
		@include media($large-screen) {
			@include row(table);
		}
		.images-wrapper {
			background-size: cover;
			display: block;
			padding: $gutter*2;
			@include media($large-screen) {
				@include span-columns(4);
				background-size: cover;
				background-position: bottom;
			}
		}
		.side-image-content {
			@include span-columns(12);
			padding: $gutter*2;
			@include media($large-screen) {
				@include span-columns(8);
			}
			.widgettitle {
				background: #BBB;
				color: white;
				display: inline-block;
				font-size: 0.75em;
				margin-bottom: 1.3em;
				padding: 3px 8px;
				text-transform: uppercase;
			}
		}
		@include reset-display;
	}
}

/* Button Widget
----------------------------------------------------------------------------- */
.widget_rwpw-button {
	.btn {
		color: #fff;
		display: inline-block;
		margin-bottom: 0;
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		white-space: nowrap;
		line-height: 1;
		text-decoration: none;
		display: inline-block;
		line-height: 1;
		text-transform: uppercase;
		&.icon-right {
			[class^="sow-icon"] {
				float: right;
				margin-left: 10px;
			}
		}
		&.icon-left {
			[class^="sow-icon"] {
				margin-right: 10px;
			}
		}
		.button-wrap {
			display: inline-block;
		}
	}
}

/* CTA Widget
----------------------------------------------------------------------------- */
.widget_rwpw-cta {

}

/* Features Widget
----------------------------------------------------------------------------- */
.widget_rwpw-features {
	.features-wrapper {
		display: flex;
		flex-wrap: wrap;
		.feature {
			display: flex;
			.feature-content {
				display: flex;
				flex-direction: column;
				& > div {
					display: flex;
					flex: 1;
					align-self: center;
					justify-content: baseline;
				}
			}
		}
	}
}
/** ## Testimonial Widget
----------------------------------------------------------------------------- */
.widget_rwpw-testimonial {
	.owl-carousel {
		.owl-item {
			img {
				width: auto !important;
				margin: 0 auto;
			}
		}
	}
}
